.resultPage{
    background-image: repeating-linear-gradient(
        0deg,
        transparent,
        #ccc5 0.25rem,
        transparent 0.5rem
      );
      min-height: 100vh;
      padding: 2rem;
}
.resultWrapper {
    background-color: aliceblue;
    border-radius: 2rem;
    border: 2px #3466AF solid;
    padding: 1rem;
}

.result img{
    width: min(200px,20vh);
    height: min(200px,20vh);
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultPage button {
    margin: 2rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 1.12rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.resultPage button:hover{
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
  }

@media (orientation: landscape) and (min-width: 730px) {
    .result{
        flex-direction: row;
    }
    .result p{
        margin: 0 2rem;
    }
    .result img{
        width: 200px;
        height: 200px;
    }
}